<!DOCTYPE html>
<html>
<head th:replace="base::head(~{::title})">
<title>Cadastrar</title>
</head>
<body>
<header th:replace="base::navbar('')"></header>
	<div class="container mt-3">
		<h1 class="text-center">Editar Usuario</h1>
		<form th:object="${usuarioDto}" th:action="@{/usuarios/editar/{id}(id=*{id})}" method="POST" >
			<div class="form-floating mb-3">
				<input th:field="*{nome}" th:errorclass="is-invalid"
					id="floatingNome" type="text" name="nome" class="form-control"
					placeholder="Nome"> <label for="floatingNomE">Nome</label>
				<p class="alert alert-danger" th:if="${#fields.hasErrors('nome')}"
					th:errors="*{nome}">
			</div>
			<div class="form-floating mb-3">
				<input th:field="*{email}" th:errorclass="is-invalid"
					id="floatingEmail" type="email" name="email" class="form-control"
					placeholder="example@email.com"> <label for="floatingEmail">
					Email</label>
				<p class="alert alert-danger" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}">
					
			</div>	
			<button class="btn btn-primary" type="submit">editar</button>
		</form>

	</div>
	<div th:replace="base :: jsbootstrap"></div>
</body>
</html>