<!DOCTYPE html>
<html>
<head th:replace="base::head(~{::title})">
<title>Importar</title>
</head>
<body>
<header th:replace="base::navbar('')"></header>
	<div th:if="${message}"
		th:class="${message!='Arquivo adicionado com sucesso!' ? 
	'alert alert-danger alert-dismissible fade show' 
	: 'alert alert-success alert-dismissible fade show'}"
		role="alert" th:inline="text">
		[[${message}]]
		<button type="button" class="btn-close" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>

	<div class="container mt-3">
		<h1 class="text-center">IMPORTAR TRANSAÇÕES</h1>
		<form action="/importacoes" method="POST" enctype="multipart/form-data">
			<div class="input-group">
				<input type="file" name="file" accept=".csv" class="form-control">
				<button class="btn btn-outline-secondary" type="submit">Importar</button>
			</div>
			<small class="text-muted">Selecione o arquivo CSV para
				realizar o upload.</small>

		</form>
	</div>
	
	<div th:if="${!listaImportacoes.empty}" class="container mt-5">
	<h2 class="text-center">IMPORTAÇÕES REALIZADAS</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">NOME</th>
					<th scope="col">DATA TRANSAÇÕES</th>
					<th scope="col">DATA IMPORTAÇÃO</th>
					<th scope="col">OPÇÕES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="importacao:${listaImportacoes}">
					<td th:text="${importacao.nome}"></td>
					<td th:text="${#temporals.format(importacao.dataTransacao,'dd/MM/yyyy')}"></td>
					<td th:text="${#temporals.format(importacao.dataImportacao,'dd/MM/yyyy-HH:mm:ss')}"></td>
					<td><a class="btn btn-primary" th:href="@{/importacoes/detalhar/{id}(id=${importacao.id})}">Detalhar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="base::jsbootstrap"></div>
</body>
</html>
