<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Importar Transação</title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">
		<h1 class="text-center">IMPORTAR TRANSAÇÕES</h1>
		<form action="/" method="POST" enctype="multipart/form-data">
			<div class="input-group">
				<input type="file" name="file" accept=".csv" class="form-control">
				<button class="btn btn-outline-secondary" type="submit">Importar</button>
			</div>
			<small class="text-muted">Selecione o arquivo CSV para realizar o upload.</small>
		</form>
	</div>


</body>
</html>